.faq {
    padding-top: 118px;
    padding-left: 177px;
    padding-bottom: 63px;
}

.faq__heading {
    margin-bottom: 27px;
    font-size: 70px;
    color: $black;
}

.faq__desc {
    max-width: 445px;
    margin-bottom: 35px;
    font-size: 16px;
    color: $grey;
}

.faq__btn {
    margin-bottom: 63px;
    padding: 15px 38px;
    color: #fff;
    background-color: #78C0DE;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

// FAQ list

.faq-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.faq-list__item {
    max-width: 750px;
    padding: 30px 40px 40px 60px;
    background-color: #fff;
    border-radius: 5px;
}

.faq-list__item +.faq-list__item {
    margin-top: 18px;
}

.faq-list__item__area {
    margin-bottom: 10px;
    display: flex;
}

.faq-list__item__area-time {
    display: flex;
    align-items: center;
    margin-right: 28px;
    font-size: 17px;
    color: $black;
    
    &::before {
        content: "";
        width: 23px;
        height: 20px;
        display: block;
        margin-right: 7px;
        background-image: url("../images/pet-hand-icon.png");
        background-size: cover;
        transform: rotate(111deg);
    }
}

.faq-list__item__area-link {
    font-size: 18px;
    color: $blue;
    text-decoration: none;
}

.faq-list__item__btn {
    display: flex;
    width: 100%;
    font-size: 20px;
    color: $black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    &::after {
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        margin-left: auto;
        background-image: url("../images/service-vector.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        flex-shrink: 0;
        transform: rotate(270deg);
    }
}

.faq-list__item__desc {
    display: none;
    margin-top: 23px;
    color: $grey;
}

.faq-list__item:nth-child(2n+1) .faq-list__item__area-time {
    &::before {
        content: "";
        width: 23px;
        height: 20px;
        display: block;
        margin-right: 7px;
        background-image: url("../images/pet-hand-icon.png");
        background-size: cover;
        transform: rotate(111deg);
    }
}

.faq-list__item:nth-child(2n) .faq-list__item__area-time {
    &::before {
        content: "";
        width: 23px;
        height: 20px;
        display: block;
        margin-right: 7px;
        background-image: url("../images/pet-hand-blue-icon.png");
        background-size: cover;
        transform: rotate(0deg);
    }
}

.faq-list__item:nth-child(2) .faq-list__item__desc {
    display: none;
}

.faq-list__item:nth-child(3) {
    opacity: 0.5;
}

.faq-list__item:nth-child(3) .faq-list__item__btn {
    &::after {
        content: "";
        width: 21px;
        height: 21px;
        display: block;
        margin-right: 7px;
        background-image: url("../images/faq-clock.svg");
        background-size: cover;
        transform: rotate(0deg);
    }
}

// OPEN

.faq--open .faq-list__item__desc {
    display: block;
}