.location {
    padding-top: 170px;
    padding-bottom: 206px;
}

.location .container {
    padding: 0;
}

.location__heading {
    position: relative;
    margin-bottom: 60px;
    font-size: 48px;
    color: $black;
    text-align: center;

    &::before {
        position: absolute;
        bottom: 111%;
        right: calc(50% + -10%);
        content: "";
        display: block;
        width: 99px;
        height: 99px;
        background-image: url("../images/location-microscope.svg");
        background-position: center;
        background-size: cover;
    }
}

.location-info {
    position: relative;
    display: flex;

    &::before {
        position: absolute;
        content: "";
        bottom: 90%;
        left: 5%;
        display: block;
        width: 443px;
        height: 342px;
        background-image: url("../images/location-laycha.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.location-info__map {
    max-height: 512px;
}

.location-info__img {
    object-fit: cover;
}