/* SERVICES */
.services-hero {
  padding-top: 118px;
  padding-bottom: 140px;
}

.services-hero {
  background-image: url("../images/services-hero-img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + 555px) -20px;
}

.services-hero__content {
  width: 447px;
}

.services-hero__title {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: $black;
  margin: 0;
  margin-bottom: 21px;
}

.services-hero__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $grey;
  margin: 0;
}