/* INTRO */
.services-intro {
  padding-bottom: 168px;
}

.services-intro__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-intro__item {
  width: 305px;
  margin-left: 30px;
  margin-bottom: 34px;
  background-color: #FFFFFF;
  border-radius: 5px 5px 0px 0;
}

.services-intro__item {
  background-image: url("../images/pet\ \(2\).svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 80px) 10px;

  &:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
    transition: 0.3s ease;
  }
}

.services-intro__content {
  width: 230px;
  padding: 58px 22px 45px 53px;
}

.services-intro__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  color: $black;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 14px;
}

.services-intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $grey;
  margin-bottom: 26px;
}

.services-intro__link:hover {
  background-color: #000000;
  color: #FFFFFF;
  transition: 0.3s ease;
}

.services-intro__two-link {
  text-decoration: none;
  font-style: normal;
  padding: 15px 30px;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  border-radius: 3px;
  background: $blue;
  color: #FFFFFF;
  white-space: nowrap;
}

.services-intro__there-link {
  text-decoration: none;
  font-style: normal;
  padding: 15px 30px;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  border-radius: 3px;
  background-color: $orange;
  color: #FFFFFF;
  white-space: nowrap;
}