*,
::before,
::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    background-image: url(../img/body-bg.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'FuturaPT', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    body {
        background-image: url(../img/body-bg@2x.png);
    }

}

main {
    flex-grow: 1;
}

img {
    vertical-align: middle;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
