
.blog-post {
  display: flex;
  background-color: $white;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
}

.blog-post-content {
  padding: 66px 151px 66px 85px;
}

.blog-post-content-top {
  display: flex;
  align-items: center;
}

.blog-post-content-top__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: auto;
}

.blog-post-content-top__item {
  text-decoration: none;

  &:not(last-child) {
    margin-right: 7px;
  }

}


.blog-post-content-top__link {
  text-decoration: none;
  line-height: 22px;
  color: $blue;
}

.time {
  color: $grey;
}
.blog-post__heading {
  width: 325px;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.blog-post__text {
  margin-top: 0;
  margin-bottom: 48px;
  line-height: 20px;
  color: $grey;
}

.blog-post__link {
  display: flex;
  font-weight: 500;
  line-height: 21px;
  color: $black;
  text-decoration: none;

  &::before {
    content: "";
    background-image: url(../img/pet-hand-icon.png);
    background-size: contain;
    display: block;
    width: 23px;
    height: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .hero-blog {
    flex-direction: column;
  }
}