
.blog-main {

}

.hero-blog {
  padding: 118px 110px 132px;
}

.hero-blog__heading {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: $black;
  margin-top: 0;
  margin-bottom: 21px;
}

.hero-blog__text {
  width: 40%;
}